.advantages {
  align-items: center;
  text-align: center;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}

.advantages__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.advantages__item {
  margin: 0;
  padding: 25px;
}

.advantages__item--img {
  background-color: @blue-sedona;
  height: 191px;
}

.advantages__title--img,
.advantages__subtitle--img {
  color: @basik_white;
}

.advantages__item--info {
  background-color: @lightgray;
  border-top: 2px solid @lightgray6;
}

.advantages__subtitle--info {
  color: @darkgray;
}

.advantages__title--info {
  color: @basik_black;
}
