.description {
  background-color: @basik_white;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 16px;
  max-width: 400px;
  margin: 0 auto;
    @media (min-width: @tablet-width) {
    width: 446px;

    padding: 0;
    padding-bottom: 77px;
    padding-top: 57px;
  }
}

.description__title {
  color: @basik_black;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .description__title {
    font-size: 21px;
  }
}

.description__subtitle {
  color: @darkgray;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.description__title--ask {
  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}
