.description {
  background-color: @basik_white;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.description__title {
  color: @basik_black;
  font-weight: 700;
  font-size: 18px;
}

.description__subtitle {
  color: @darkgray;
}
