
.photos__img {
  padding: 0;
}

.photos__list {
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.photos__subtitle {
  font-weight: 400;
  text-transform: none;
  color: @darkgray;
}

.photos__like {
  position: relative;
  margin-left: 37px;
}

.photos__like::before {
  content: "";
  position: absolute;
  background-image: url("../img/catalog/like-icon.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  top: -3px;
  left: -37px;
}

.photos-info {
padding-left: 18px;
padding-right: 18px;
}
