img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.page {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  font-family: "@font-face", "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
.page__body {
  min-height: 100%;
  margin: 0;
  color: #000;
  background-color: #eee;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
.page__wrap {
  background-color: #fff;
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.14);
}
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  position: relative;
}
.page-header__logo::after {
  content: "";
  position: absolute;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 108px;
  height: 84px;
  z-index: 3;
}
@media (min-width: 768px) {
  .page-header__logo::after {
    background-image: url("../img/logo_tab.svg");
    height: 86px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo::after {
    background-image: url("../img/logo_des.svg");
    width: 187px;
    height: 97px;
  }
}
.page-header__welcome {
  width: 100%;
  position: relative;
  padding-top: 54px;
}
@media (min-width: 768px) {
  .page-header__welcome {
    padding-top: 0;
  }
}
.page-header__photo {
  position: relative;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-image: url("../img/img_index/intro-mobile.jpg");
}
@media (min-width: 768px) {
  .page-header__photo {
    background-image: url("../img/img_index/intro-des.jpg");
  }
}
.page-header__photo--page {
  height: 157px;
}
@media (min-width: 768px) {
  .page-header__photo--page {
    height: 289px;
  }
}
/*
.page-header__photo::after{
  content: "";
  position: absolute;
  background-image: url("../img/img_index/intro-triangle.svg");
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 2%);
}
*/
.page-header__photo--index {
  height: 381px;
}
@media (min-width: 768px) {
  .page-header__photo--index {
    height: 518px;
  }
}
.page-header__photo--index::before {
  content: "";
  width: 282px;
  height: 214px;
  position: absolute;
  background-image: url("../img/img_index/text-index.svg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .page-header__photo--index::before {
    width: 460px;
    height: 350px;
  }
}
.page-header__photo--page::before {
  content: "";
  width: 229px;
  height: 39px;
  position: absolute;
  background-image: url("../img/sedona_text.svg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .page-header__photo--page::before {
    width: 457px;
    height: 78px;
  }
}
.description {
  background-color: #fff;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 16px;
  max-width: 400px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .description {
    width: 446px;
    padding: 0;
    padding-bottom: 77px;
    padding-top: 57px;
  }
}
.description__title {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 768px) {
  .description__title {
    font-size: 21px;
  }
}
.description__subtitle {
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .description__title--ask {
    font-size: 30px;
  }
}
.advantages {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -8px;
  padding-top: 18px;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
  }
}
.advantages__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}
.advantages__item {
  margin: 0;
}
/*
.advantages__photo {
  height: 260px;
  object-fit: cover;
    @media (min-width: @tablet-width) {
      height: 256px;
  }
}
*/
@media (min-width: 768px) {
  .advantages-city--img {
    width: 768px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .advantages-city--img {
    width: 1200px;
  }
}
.advantages__photo--city {
  background-image: url("../img/img_index/photo-city-mob.jpg");
}
@media (min-width: 768px) {
  .advantages__photo--city {
    background-image: url("../img/img_index/photo-city-tab.jpg");
  }
}
@media (min-width: 1200px) {
  .advantages__photo--city {
    background-image: url("../img/img_index/photo-city-des.jpg");
  }
}
.advantages__photo--bridge {
  background-image: url("../img/img_index/photo-bridge-mob.jpg");
}
@media (min-width: 768px) {
  .advantages__photo--bridge {
    background-image: url("../img/img_index/photo-bridge-tab.jpg");
  }
}
@media (min-width: 1200px) {
  .advantages__photo--bridge {
    background-image: url("../img/img_index/photo-bridge-des.jpg");
  }
}
.advantages__photo {
  width: 100%;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__photo {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__photo {
    width: 800px;
  }
}
/*
.advantages__photo--city {
  width: 100%;
  height: 260px;
  background-image: url("../img/img_index/photo-city-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
    background-image: url("../img/img_index/photo-city-tab.jpg");
  }
  @media (min-width: @desktop-width) {
    width: 800px;
    background-image: url("../img/img_index/photo-city-des.jpg");
  }
}
*/
.advantages__item--img {
  background-color: #81b3d2;
  width: 100%;
  height: 191px;
  box-sizing: border-box;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .advantages__item--img {
    padding: 32px 40px;
    padding-bottom: 40px;
    width: 256px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__item--img {
    width: 400px;
  }
}
.advantages__title--img,
.advantages__subtitle--img {
  color: #fff;
}
.advantages__item--info {
  padding-top: 7px;
  padding-bottom: 25px;
  border-top: 1px solid #D6D6D6;
  margin-left: 18px;
  margin-right: 18px;
}
@media (min-width: 768px) {
  .advantages__item--info {
    border: none;
    padding-top: 20px;
  }
}
.advantages__subtitle--info {
  color: #333;
}
.advantages__title--info {
  color: #000;
}
.advantages__item--gray {
  background-color: #eee;
}
@media (min-width: 768px) {
  .advantages__item--gray {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 262px;
    gap: 94px;
  }
}
.advantages-city {
  background-color: #fff;
}
.advantages-city__list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding-bottom: 26px;
  padding-left: 18px;
  padding-right: 18px;
}
@media (min-width: 768px) {
  .advantages-city__list {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    text-align: center;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .advantages-city__list {
    grid-template-columns: 386px 386px 368px;
  }
}
.advantages-city__text {
  margin-left: 10px;
}
.advantages-city__item img {
  align-self: flex-start;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .advantages-city__item img {
    transform: scale(2);
    text-align: center;
    align-self: center;
    padding-top: 47px;
    margin-bottom: 44px;
  }
}
.advantages-city__item {
  display: flex;
}
@media (min-width: 768px) {
  .advantages-city__item {
    flex-direction: column;
    text-align: center;
  }
}
.social__item {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  text-align: center;
  padding-top: 13px;
  margin-right: 6px;
  box-sizing: border-box;
}
.social__list--wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .social__list--wrapper {
    margin-bottom: 30px;
    padding-top: 32px;
  }
}
.social__list {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) {
  .social__list {
    margin-bottom: 0;
  }
}
.social__item:hover {
  background-color: #669ec0;
}
.social__item:active {
  background-color: #5496bd;
}
.social__item img:active {
  opacity: 0.3;
}
.main-nav__wrapper {
  display: none;
  position: absolute;
  z-index: 4;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    position: static;
    display: block;
    text-align: center;
    width: 723px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 1070px;
  }
}
.main-nav__wrapper--block {
  display: block;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .main-nav__item:nth-child(3) {
    padding-left: 230px;
  }
}
.main-nav__item {
  background-color: #81b3d2;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .main-nav__item {
    background-color: #fff;
    box-shadow: none;
  }
}
.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000;
    font-size: 14px;
    line-height: 26px;
  }
}
.main-nav__link:hover {
  background-color: #669ec0;
}
@media (min-width: 768px) {
  .main-nav__link:hover {
    background-color: #fff;
    color: #81b3d2;
  }
}
.main-nav__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .main-nav__link:active {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.3);
  }
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  border: none;
  right: 18px;
  top: 16px;
}
/*
.main-nav__toggle {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-menu.svg");
  background-color: @basik_white;
  background-repeat: no-repeat;
  border: none;
  right: 18px;
  top: 18px;
  @media (min-width: @tablet-width) {
    display: none;
  }
}
*/
.main-nav--close {
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
  border: none;
  right: 18px;
  top: 10px;
}
@media (min-width: 768px) {
  .main-nav--close {
    display: none;
  }
}
.page-footer {
  align-items: center;
  text-align: center;
  background-color: #fff;
  margin-top: 76px;
  padding-bottom: 14px;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 648px;
    margin: 0 auto;
    padding: 36px 10px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 980px;
  }
}
.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .page-footer__hashtag {
    margin-bottom: 0;
    padding-bottom: 18px;
  }
}
/*
page-footer__copyright */
.photos__item {
  position: relative;
  padding-top: 22px;
  padding-bottom: 17px;
}
@media (min-width: 768px) {
  .photos__item {
    padding: 0;
  }
}
.photos__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .photos__img {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .photos__img {
    width: 400px;
    height: 267px;
  }
}
@media (min-width: 768px) {
  .photos__img--first {
    width: 648px;
    height: 400px;
    background-image: url("../img/catalog/space-desktop.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .photos__img--first {
    width: 1200px;
    margin-bottom: -7px;
  }
}
.photos__img--space {
  background-image: url("../img/catalog/space-mob.jpg");
}
@media (min-width: 768px) {
  .photos__img--space {
    background-image: url("../img/catalog/space-tab.jpg");
  }
}
@media (min-width: 1200px) {
  .photos__img--space {
    background-image: url("../img/catalog/space-des.jpg");
  }
}
.photos__img--vegetation {
  background-image: url("../img/catalog/vegetation.jpg");
}
@media (min-width: 768px) {
  .photos__img--vegetation {
    background-image: url("../img/catalog/vegetation-tab.jpg");
  }
}
@media (min-width: 1200px) {
  .photos__img--vegetation {
    background-image: url("../img/catalog/vegetation-des.jpg");
  }
}
.photos__img--road {
  background-image: url("../img/catalog/road.jpg");
}
@media (min-width: 768px) {
  .photos__img--road {
    background-image: url("../img/catalog/road-tab.jpg");
  }
}
@media (min-width: 1200px) {
  .photos__img--road {
    background-image: url("../img/catalog/road-des.jpg");
  }
}
.photos__img--most {
  background-image: url("../img/catalog/most.jpg");
}
@media (min-width: 768px) {
  .photos__img--most {
    background-image: url("../img/catalog/most-tab.jpg");
  }
}
@media (min-width: 1200px) {
  .photos__img--most {
    background-image: url("../img/catalog/most-des.jpg");
  }
}
.photos__list {
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .photos__list {
    width: 648px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .photos__list {
    width: 1200px;
  }
}
.photos__title {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .photos__title {
    padding-top: 20px;
  }
}
.photos__subtitle {
  font-weight: 400;
  text-transform: none;
  color: #333;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .photos__subtitle {
    padding-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .photos__subtitle {
    color: #fff;
  }
}
.photos__like {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 37px;
}
@media (min-width: 768px) {
  .photos__like {
    margin: 0;
    align-self: center;
  }
}
.photos__like::before {
  content: "";
  position: absolute;
  background-image: url("../img/catalog/like-icon.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  top: -3px;
  left: -37px;
}
@media (min-width: 768px) {
  .photos__like::before {
    top: 0px;
    left: -32px;
  }
}
@media (min-width: 1200px) {
  .photos__like::before {
    background-image: url("../img/catalog/like-icon_white.svg");
  }
}
@media (min-width: 768px) {
  .photos-info {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: -7px;
  }
}
@media (min-width: 1200px) {
  .photos-info {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .photos__list li:first-child .photos-info {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    box-sizing: border-box;
    width: 1200px;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .photos-info--first {
    width: 1200px;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .photos__list li:nth-child(3) .photos-info {
    background-color: #EAEAEA;
  }
}
@media (min-width: 1200px) {
  .photos__list li:nth-child(3) .photos-info {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.reviews {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 18px;
}
.reviews fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.reviews__legend {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 16px;
  max-width: 310px;
}
.reviews__legend--user {
  text-align: left;
}
@media (min-width: 768px) {
  .reviews__legend--user {
    margin-bottom: 30px;
    position: relative;
  }
}
@media (min-width: 768px) {
  .reviews__legend--user::before {
    position: absolute;
    content: "";
    background-color: #D6D6D6;
    width: 1px;
    height: 292px;
    top: 28px;
    left: -58px;
  }
}
@media (min-width: 1200px) {
  .reviews__legend--user::before {
    left: -80px;
  }
}
.reviews__legend--radio {
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .reviews__legend--radio {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .reviews__legend--radio {
    text-align: center;
    padding-right: 90px;
  }
}
@media (min-width: 768px) {
  .reviews__legend--checkbox {
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .reviews__legend--checkbox {
    margin-left: -17px;
  }
}
@media (min-width: 768px) {
  .reviews__legend--line {
    width: 310px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }
}
@media (min-width: 768px) {
  .reviews__legend--line::before {
    position: absolute;
    content: "";
    background-color: #D6D6D6;
    width: 123px;
    height: 1px;
    top: 40px;
    left: -165px;
  }
}
@media (min-width: 1200px) {
  .reviews__legend--line::before {
    width: 280px;
    left: -330px;
  }
}
@media (min-width: 768px) {
  .reviews__legend--line::after {
    position: absolute;
    content: "";
    background-color: #D6D6D6;
    width: 123px;
    height: 1px;
    top: 40px;
    left: 355px;
  }
}
@media (min-width: 1200px) {
  .reviews__legend--line::after {
    width: 280px;
    left: 365px;
  }
}
@media (min-width: 768px) {
  .reviews__form {
    width: 648px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .reviews__form {
    width: 980px;
  }
}
.reviews__name {
  padding-bottom: 6px;
}
@media (min-width: 768px) {
  .reviews__name {
    width: 270px;
  }
}
@media (min-width: 1200px) {
  .reviews__name {
    width: 400px;
    margin-left: 70px;
  }
}
.reviews__wrap--name {
  min-width: 270px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.reviews__wrap--cantacts {
  position: relative;
}
@media (min-width: 1200px) {
  .reviews__wrap--cantacts {
    width: 482px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
}
.reviews__wrap--cantacts::before {
  content: "";
  position: absolute;
  background-color: #E6E6E6;
  top: 46px;
  right: 0;
  width: 58px;
  height: 58px;
}
@media (min-width: 1200px) {
  .reviews__wrap--cantacts::before {
    top: 7px;
  }
}
.reviews__wrap--cantacts--phone::after {
  content: "";
  position: absolute;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  top: 66px;
  right: 19px;
}
@media (min-width: 1200px) {
  .reviews__wrap--cantacts--phone::after {
    top: 27px;
  }
}
.reviews__wrap--cantacts--email ::after {
  content: "";
  position: absolute;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 12px;
  top: 69px;
  right: 20px;
}
@media (min-width: 1200px) {
  .reviews__wrap--cantacts--email ::after {
    top: 30px;
  }
}
.reviews__impression {
  order: -1;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .reviews__impression {
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .reviews__impression {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .reviews__visit,
  .reviews__contacts,
  .reviews__emotions {
    width: 100%;
  }
}
.reviews__emotions {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .reviews__emotions {
    margin-top: 11px;
    margin-bottom: 0;
  }
}
.reviews__contacts {
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .reviews__contacts {
    margin-top: 8px;
  }
}
@media (min-width: 1200px) {
  .reviews__contacts {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .reviews__label--opacity {
    display: none;
  }
}
@media (min-width: 768px) {
  .reviews__desc--contacts {
    width: 648px;
    display: flex;
  }
}
.reviews__visit {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .reviews__visit {
    margin-top: 11px;
  }
}
@media (min-width: 1200px) {
  .reviews__visit {
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .reviews__item--radio {
    margin-top: 52px;
  }
}
@media (min-width: 768px) {
  .reviews__item--checkbox {
    min-width: 215px;
  }
}
.reviews__item {
  margin-bottom: 43px;
}
.reviews__label--check {
  position: relative;
  text-transform: none;
  margin-left: 50px;
}
.reviews__label--name {
  font-weight: 400;
  text-transform: none;
  color: #333;
  margin-right: 14px;
}
.reviews__label--contact {
  padding-left: 22px;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (min-width: 1200px) {
  .reviews__label--phone {
    padding-left: 0;
  }
}
.reviews__desc {
  background: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  padding: 18px 22px;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 58px;
}
.reviews__desc:hover {
  background-color: #e5e5e5;
}
.reviews__desc:focus {
  background-color: #fff;
  border: 4px solid #e5e5e5;
  padding-left: 18px;
}
.reviews__warning {
  font-weight: 400;
  font-size: 14px;
  display: none;
}
@media (min-width: 768px) {
  .reviews__warning {
    display: block;
  }
}
.reviews__desc::-moz-placeholder {
  color: #000;
}
.reviews__desc::placeholder {
  color: #000;
}
.reviews__desc--text {
  width: 100%;
  height: 160px;
  resize: none;
  font-family: "PT Sans";
}
@media (min-width: 768px) {
  .reviews__desc--text {
    margin-top: 39px;
    margin-bottom: 0;
  }
}
.reviews__desc--text:focus {
  padding-top: 14px;
}
@media (min-width: 768px) {
  .reviews__submit {
    width: 648px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .reviews__submit {
    width: 980px;
  }
}
.copyright {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__logo {
  margin-left: 12px;
}
.copyright__logo path:hover {
  fill: #81b3d2;
}
.copyright__logo path:active {
  fill: #000;
  opacity: 0.3;
}
.button {
  background-color: #81b3d2;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 32px 16px 32px;
  width: 100%;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .button--reviews {
    width: 324px;
    height: 58px;
  }
}
@media (min-width: 1200px) {
  .button--reviews {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .button--page {
    width: 458px;
    height: 58px;
  }
}
.hotel-search {
  width: 100%;
  text-align: center;
}
.hotel-search__maps {
  margin-top: 49px;
}
.video {
  margin-bottom: 143px;
}
@media (min-width: 768px) {
  .video {
    margin-bottom: 76px;
  }
}
.video__img {
  text-align: center;
}
.video__photos {
  margin: 0 auto;
  margin-bottom: 5px;
  background-image: url("../img/catalog/video-mob.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 201px;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .video__photos {
    background-image: url("../img/catalog/video-tab.jpg");
    width: 648px;
    height: 686px;
  }
}
@media (min-width: 1200px) {
  .video__photos {
    background-image: url("../img/catalog/video-des.jpg");
    width: 800px;
    height: 500px;
  }
}
.video__player {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  position: absolute;
  margin-left: 20px;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .video__player {
    width: 648px;
    height: 93px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .video__player {
    width: 800px;
  }
}
.video__range {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  margin-left: 22px;
}
@media (min-width: 768px) {
  .video__range {
    position: absolute;
    width: 389px;
    margin-left: 93px;
    margin-top: 45px;
  }
}
@media (min-width: 1200px) {
  .video__range {
    width: 540px;
  }
}
.video__range::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
  left: 40px;
  bottom: 18px;
  margin-left: 22px;
}
@media (min-width: 768px) {
  .video__range::before {
    bottom: -3px;
  }
}
@media (min-width: 1200px) {
  .video__range::before {
    left: 60px;
  }
}
.video__player-element {
  background-color: #f2f2f2;
  width: 280px;
  height: 66px;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  padding: 22px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .video__player-element {
    width: 648px;
    background-color: transparent;
    margin-top: -9px;
    padding: 45px 40px;
  }
}
@media (min-width: 1200px) {
  .video__player-element {
    width: 800px;
  }
}
.video__replay {
  width: 16px;
  height: 20px;
  background-image: url("../img/replay.svg");
  margin-right: 106px;
}
@media (min-width: 768px) {
  .video__replay {
    background-image: url("../img/replay-white.svg");
    margin-right: 439px;
  }
}
@media (min-width: 1200px) {
  .video__replay {
    margin-right: 587px;
  }
}
.video__subtitles {
  width: 32px;
  height: 20px;
  background-image: url("../img/subtitles.svg");
}
@media (min-width: 768px) {
  .video__subtitles {
    background-image: url("../img/subtitles-white.svg");
  }
}
.video__fullscreen {
  width: 20px;
  height: 20px;
  background-image: url("../img/fullscreen.svg");
}
@media (min-width: 768px) {
  .video__fullscreen {
    background-image: url("../img/fullscreen-white.svg");
  }
}
.radio__list {
  list-style: none;
  padding-left: 29px;
}
.radio__input + label::before {
  content: "";
  position: absolute;
  left: -78px;
  top: -16px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
}
.radio__input:checked + label::after {
  content: "";
  position: absolute;
  left: -60px;
  top: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #000;
}
.radio__input:hover + label::before {
  background-color: #e5e5e5;
}
.radio__input:active + label::before {
  background-color: #d5d5d5;
}
.checkbox__list {
  list-style: none;
  padding: 0;
  padding-left: 29px;
  margin: 0;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .checkbox__list {
    width: 458px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 92px;
  }
}
@media (min-width: 1200px) {
  .checkbox__list {
    width: 980px;
    margin-left: 30px;
    padding-left: 0;
  }
}
.checkbox__input:hover + label::before {
  background-color: #e5e5e5;
}
.checkbox__input:active + label::before {
  background-color: #d5d5d5;
}
.checkbox__input + label::before {
  content: "";
  position: absolute;
  left: -78px;
  top: -16px;
  width: 56px;
  height: 56px;
  border-radius: 10%;
  background-color: #f2f2f2;
}
.checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  left: -60px;
  top: 2px;
  width: 23px;
  height: 16px;
  background-image: url("../img/catalog/tick.svg");
  background-repeat: no-repeat;
}
.gray-line {
  position: relative;
}
.gray-line::before {
  content: "";
  position: absolute;
  width: 100vw;
  margin-right: 50%;
  height: 1px;
  background-color: #e5e5e5;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .gray-line::before {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
