.advantages {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -8px;
  padding-top: 18px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: @lightgray;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.advantages__item {
  margin: 0;
}
/*
.advantages__photo {
  height: 260px;
  object-fit: cover;
    @media (min-width: @tablet-width) {
      height: 256px;
  }
}
*/
.advantages-city--img {
  background-color: @blue-sedona;
  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
  }
  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.advantages__photo--city {
  background-image: url("../img/img_index/photo-city-mob.jpg");
  @media (min-width: @tablet-width) {
    background-image: url("../img/img_index/photo-city-tab.jpg");
  }
  @media (min-width: @desktop-width) {
    background-image: url("../img/img_index/photo-city-des.jpg");
  }
}

.advantages__photo--bridge{
  background-image: url("../img/img_index/photo-bridge-mob.jpg");
  @media (min-width: @tablet-width) {
    background-image: url("../img/img_index/photo-bridge-tab.jpg");
  }
  @media (min-width: @desktop-width) {
    background-image: url("../img/img_index/photo-bridge-des.jpg");
  }
}

.advantages__photo {
  width: 100%;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: @blue-sedona;
  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }
  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
  /*
.advantages__photo--city {
  width: 100%;
  height: 260px;
  background-image: url("../img/img_index/photo-city-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
    background-image: url("../img/img_index/photo-city-tab.jpg");
  }
  @media (min-width: @desktop-width) {
    width: 800px;
    background-image: url("../img/img_index/photo-city-des.jpg");
  }
}
*/

.advantages__item--img {
  background-color: @blue-sedona;
  width: 100%;
  height: 191px;
  box-sizing: border-box;
  padding-top: 20px;
  @media (min-width: @tablet-width) {
    padding: 32px 40px;
    padding-bottom: 40px;
    width: 256px;
    height: 256px;
  }
  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantages__title--img,
.advantages__subtitle--img {
  color: @basik_white;
}

.advantages__item--info {
  padding-top: 7px;
  padding-bottom: 25px;
  border-top: 1px solid @lightgray6;
  margin-left: 18px;
  margin-right: 18px;
  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 20px;
  }
}

.advantages__subtitle--info {
  color: @darkgray;
}

.advantages__title--info {
  color: @basik_black;
}


.advantages__item--gray {
  background-color: @lightgray;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 262px;
    gap: 94px;
  }
}
