.advantages {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -8px;
  padding-top: 18px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: @lightgray;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.advantages__item {
  margin: 0;
}

.advantages__photo--bridge{
  background-image: url("");
  @media (min-width: @tablet-width) {
    background-image: url("");
  }
  @media (min-width: @desktop-width) {
    background-image: url("");
  }
}

.advantages__photo {
  width: 320px;
  height: auto;
  margin-bottom: -8px;
  background-color: @blue-sedona;
  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }
  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.advantages__item--img {
  background-color: @blue-sedona;
  width: 100%;
  min-height: 191px;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 36px;
  @media (min-width: @tablet-width) {
    padding: 32px 40px;
    padding-bottom: 40px;
    width: 256px;
    height: 256px;
  }
  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantages__item--img-first {
  background-image: url("../img/img_index/advantages-triangle.svg");
  background-repeat: no-repeat;
  background-size: 768px 57px;
  background-position: top;
  background-position-y: -20%;
  padding-top: 36px;
  padding-bottom: 40px;
  @media (min-width: @tablet-width) {
    background-image: none;
  }
}

.advantages__title--img,
.advantages__subtitle--img {
  color: @basik_white;
}

.advantages__item--info {
  padding-top: 7px;
  padding-bottom: 25px;
  border-top: 1px solid @lightgray6;
  margin-left: 18px;
  margin-right: 18px;
  box-sizing: border-box;
  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }
}

.advantages__subtitle--info {
  color: @darkgray;
}

.advantages__title--info {
  color: @basik_black;
}


.advantages__item--gray {
  background-color: @lightgray;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 262px;
    gap: 22px;

  }
}
