.advantages {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: -8px;
  padding-top: 18px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: @lightgray;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.advantages__item {
  margin: 0;
}

.advantages__photo {
  height: 260px;
  object-fit: cover;
    @media (min-width: @tablet-width) {
      height: 256px;
  }
}

.advantages__item--img {
  background-color: @blue-sedona;
  min-height: 191px;
  box-sizing: border-box;
    @media (min-width: @tablet-width) {
      padding: 32px 40px;
      padding-bottom: 40px;
      width: 256px;
      height: 256px;
  }
}

.advantages__title--img,
.advantages__subtitle--img {
  color: @basik_white;
}

.advantages__item--info {
  background-color: @lightgray;
  border-top: 1px solid @lightgray6;
  margin-left: 18px;
  margin-right: 18px;
  @media (min-width: @tablet-width) {
    border: none;
  }
}

.advantages__subtitle--info {
  color: @darkgray;
}

.advantages__title--info {
  color: @basik_black;
}


.advantages__item--gray {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 262px;
    gap: 94px;
  }
}
