.page-footer {
  align-items: center;
  text-align: center;
  background-color: @basik_white;
  margin-top: 76px;
  padding-bottom: 14px;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 648px;
    margin: 0 auto;
    padding: 36px 10px;
  }
  @media (min-width: @desktop-width) {
    width: 980px;
  }
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 34px;
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 18px;
  }
}

/*
page-footer__copyright */
