.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

/*
.page-header__text {
  text-align: center;
  justify-content: center;
  align-self: center;
  border: none;
  width: 282px;
  height: 214px;
  padding-top: 77px;
}
*/
.page-header__photo {
  object-fit: cover;
  height: 381px;
  width: 100%;
}
