.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}
/*
.page-header__logo {
  position: relative;
}
*/

.page-header__logo::after {
  content: "";
  position: absolute;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 108px;
  height: 84px;
  z-index: 3;
  @media (min-width: @tablet-width) {
    background-image: url("../img/logo_tab.svg");
    height: 100px;
    top: 0;
  }
  @media (min-width: @desktop-width) {
    background-image: url("../img/logo_des.svg");
    width: 187px;
    height: 97px;
  }
}

.page-header__welcome {
  width: 100%;
  position: relative;
  padding-top: 54px;
  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.page-header__photo {
  position: relative;
  width: 100%;
  background-color: @blue-sedona;
  background-image: url("../img/img_index/intro-triangle.svg"), url("../img/img_index/intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 57px, cover;
  background-position-x: 50%;
  background-position-y: 100%;
  @media (min-width: @tablet-width) {
    background-image: url("../img/img_index/intro-triangle.svg"), url("../img/img_index/intro-des.jpg");
  }
}

.page-header__photo--page {
  height: 157px;
  @media (min-width: @tablet-width) {
    height: 289px;
  }
}

.page-header__photo--index {
  min-height: 381px;
  @media (min-width: @tablet-width) {
    min-height: 518px;
  }
}

.page-header__photo--index::before {
  content: "";
  min-width: 282px;
  min-height: 214px;
  position: absolute;
  background-image: url("../img/img_index/text-index.svg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: @tablet-width) {
    min-width: 460px;
    min-height: 350px;
  }
}
.page-header__photo--page::before {
  content: "";
  width: 229px;
  height: 39px;
  position: absolute;
  background-image: url("../img/sedona_text.svg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
  }
}
